@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.menu-container {
    background-color: #1f2937;
    color: #e5e7eb;  
    font-size: 18px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.menu-top {
    display: flex;
    width: 900px;
    gap: 20px;
}
   
.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.menu-bottom {
    display: flex;
    width: 900px;
    gap: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-left button {
    align-self: flex-start;
    padding: 5px 35px;
    border-radius: 25px;
    background-color: #3882f6;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    font-weight:bolder;
}

.header-right  {
    background-color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: 50%;
}

.information-container {
    color: #1f2937;  
    font-size: 18px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 20px;
    padding: 20px;
}

.information-header {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
}

.information-list {
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-between;
}

img {
    border: 2px solid #3882f6;
    border-radius: 25px;
    margin-bottom: 10px;
}

.list-item  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    text-align: center;
}